.addProducts header .btnLogin {
    padding: 0.2rem 0.5rem;
}

.addProducts .form-add-product {
    padding: 5vw;
    display: flex;
    flex-direction: column;
}

.addProducts .form-add-product p {
    font-weight: bold;
}

.addProducts .form-add-product input,
.addProducts .form-add-product textarea{
    margin: 8px 0;
    height: 3rem;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.221) solid;
    border-radius: 5px;
}

.addProducts .form-add-product input::placeholder,
.addProducts .form-add-product textarea::placeholder{
    font-size: 0.5rem;
}

.addProducts .form-add-product textarea{
    height: 4rem;
}

.addProducts .form-add-product button{
    height: 3rem;
    background-color: var(--blue);
    border: none;
    color: white;
}

@media (min-width: 768px) {

    .addProducts .form-add-product {
        padding: 7vw;
    }

}

@media (min-width: 1024px) {

    .addProducts .form-add-product {
        padding: 7vw 20vw;
    }

}

@media (min-width: 1440px) {

    .addProducts .form-add-product {
        padding: 7vw 30vw;
    }

}